.projects {
    max-width: 75em;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.projects__title {
  font-size: 3rem;
	line-height: 1.2;
	font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
	.projects__title {
		font-size: 42px;
		line-height: 46px;
	}
}

@media screen and (max-width: 425px) {
	.projects__title {
		font-size: 32px;
		line-height: 35px;
	}
}


  .projects__conteiner {
    max-width: 75em;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); */
    gap: 40px 20px;
    margin: 0 auto;
    margin-top: 50px; 
    display: grid;
  
	gap: 30px 30px;
  grid-template-columns: repeat(auto-fit, minmax(30%, 2fr))
  }

  @media only screen and (max-width: 800px) {
    .projects__conteiner {
    grid-template-columns: 1fr 1fr;
    }
}

  @media only screen and (max-width: 650px) {
    .projects__conteiner {
              grid-template-columns: 1fr;
       }
  }