.contact__link {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: .8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
    transition: all .6s cubic-bezier(.19,1,.22,1);
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 2.4rem;
    
}

@media screen and (max-width: 900px) {
    .contact__link {
    font-size: 2rem;
}
}

@media screen and (max-width: 600px) {
    .contact__link {
    font-size: 1.8rem;
}
}

@media screen and (max-width: 400px) {
    .contact__link {
    font-size: 1.5rem;
}
}