@import url(./container/author__container.css);
@import url(./__caption/author__caption.css);
@import url(./__title/author__title.css);
@import url(./__text-color-main/author__text-color-main.css);
@import url(./__link/author__link.css);
@import url(./__content/author__content.css);





.author {
    position: relative;
    border-radius: .3rem;
    /* min-height: 100vh; */
    /* height: 100vh; */
    height: 100vh;
    /* height: auto;
    height: 100vh; */
  /* width: 100%; */
    display: flex;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    /* height: auto; */
    /* -webkit-max-logical-height: 615px; */
    
    /* background-size: cover; */
    /* font-weight: 400;
    color: #272341;
    padding: 0 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.5s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.5s; */
    /* transform: translateY(50px); */

}

/* @media screen and (max-width: 1024px) {
    .author {
        height: 80vh;
      }
} */

@media screen and (max-width: 1200px) {
  .author {
      background-size: contain;
      height: 90vh;
    }
}

@media screen and (max-width: 1024px) {
  .author {
      
      height: 80vh;
    }
}

@media screen and (max-width: 900px) {
  .author {
      height: 70vh;
    }
}

@media screen and (max-width: 800px) {
  .author {
      
      height: 65vh;
    }
}


@media screen and (max-width: 700px) {
  .author {
      
      height: 60vh;
    }
}

@media screen and (max-width: 600px) {
  .author__container {
      
      height: 50vh;
    }
}

@media screen and (max-width: 500px) {
  .author__container {
      
      height: 40vh;
    }
}