@import url('./__container/contact__container.css');
@import url('./__title/contact__title.css');
@import url('./__link/contact__link.css');
/* @import url('./__wrapper/contact__wrapper.css'); */




.contact {
        /* padding: 5em 0; */
        display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 75em;
    min-height: 400px;
    /* background-image: linear-gradient(10deg, #87a69f, white); */
    background-image: linear-gradient(-95deg, #87a69f, #afc2bd);
    -webkit-clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
    padding: 5rem 0 5rem;
    /* margin-top: -5rem; */
    margin-top: 50px;
    margin-bottom: -1px;
    color: #fff;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    /* align-content: center; */
  
 
}