.projects__link {
    color: #87a69f;
    /* -webkit-text-fill-color: #87a69f; */
    border: 2px solid transparent;
    /* border-image: linear-gradient(135deg,#134e5e,#71b280); */
    border-image: linear-gradient(135deg, #87a69f, white);
    border-image-slice: 1;
    display: inline-block;
    position: relative;
    /* padding: .8rem 1.6rem; */
    /* padding: .6rem 0.9rem; */
    /* padding: auto; */
    font-weight: 700;
    line-height: 1;
    z-index: 1;
    transition: all .6s cubic-bezier(.19,1,.22,1);
    text-decoration: none;
    /* box-sizing: border-box; */
    width: 110px;
    height: 25px;
    text-align: center;
    
    padding: 10px 30px 10px 30px;
    
    
}

.projects__link:nth-of-type(2n) {
    margin-right: 0px;
}