.project__title {
    font-size: 1.5rem;
    margin-top: 0;
    background-image: linear-gradient(135deg,#134e5e,#71b280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: linear-gradient(135deg,#134e5e,#71b280); */
}