.author__link {
    font-size: 2.4rem;
    text-decoration: none;
    /* background-image: linear-gradient(135deg,#134e5e,#71b280); */
    
    /* -webkit-text-fill-color: transparent;
    color: transparent;
    border-image-slice: 1;
    display: inline-block;
    position: relative;
    padding: .8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    z-index: 0;
    transition: all .6s cubic-bezier(.19,1,.22,1); */
    /* color: black; */
    /* background-image: linear-gradient(135deg,#134e5e,#71b280); */
    background-image: linear-gradient(135deg,#134e5e,#71b280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    
}