.author__container {
    text-align: left;   
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* animation-name: text; */
}

/* .author__container,
.author__container::after {
	        animation-delay: 0;
	        animation-delay: var(--animation-delay, 1s);
	        animation-iteration-count: 1;
	        animation-iteration-count: var(--iterations, 1);
	        animation-duration: 1200ms;
	        animation-duration: var(--duration, 3000ms);
	        animation-fill-mode: both;
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
} */