@import url(./__title/header__title.css);



.header {
    display: flex;
    /* max-width: 984px; */
    max-width: 85em;
    margin: 0 auto 10px;
    padding-top: 10px;
    align-items: center;
    /* border-bottom: 1px solid rgba(84, 84, 84, 0.7); */
    box-sizing: border-box;

    /* border-radius: .3rem;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0;
    background: #fff;
    font-weight: 400;
    color: #272341;
    padding: 0 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; */
}

@media screen and (max-width: 970px) {
    .header {
    max-width: 582px;
}
}
 
@media screen and (max-width: 320px) {
.header {
max-width: 320px;
padding-top: 28px;
}
} 

@media screen and (max-width: 300px) {
.header {
max-width: 300px;
}
}